In [2]:
import requests
# from bs4 import BeautifulSoup as bs
import pandas as pd
# import time
from splinter import Browser
from pprint import pprint
from selenium import webdriver
import numpy as np

import zipfile, urllib.request, shutil, csv, os

In [128]:
url = 'https://s3.amazonaws.com/tripdata/index.html'

In [129]:
browser = webdriver.Chrome('/usr/local/bin/chromedriver')
browser.get(url)

In [133]:
## grab relevant links
links = browser.find_elements_by_tag_name('a')

link_list = []
for link in links:
    link_list.append(link.get_attribute('href'))
    
link_list_2017=[]
for link in link_list:
    if '2017' in link:
        if 'JC' not in link:
            print(link)
            link_list_2017.append(link)

https://s3.amazonaws.com/tripdata/201701-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201702-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201703-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201704-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201705-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201706-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201707-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201708-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201709-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201710-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201711-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201712-citibike-tripdata.csv.zip

In [135]:
# for url in link_list_2017:
#     urllib.request.urlretrieve(url, "data/download/temp.zip")
#     file = zipfile.ZipFile('data/download/temp.zip')
#     file.extractall('data/download/')
#     os.remove('data/download/temp.zip')
#     df = pd.read_csv(file)

In [149]:
cols = ['tripduration','starttime','stoptime','start station id','start station name','start station latitude',
 'start station longitude','end station id','end station name','end station latitude','end station longitude',
 'bikeid','usertype','birth year','gender']

In [150]:
cols

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [151]:
df = pd.DataFrame()

for url in link_list_2017:
    urllib.request.urlretrieve(url, "data/test/temp.zip")
    file = zipfile.ZipFile('data/test/temp.zip')
    df_temp = pd.read_csv('data/test/temp.zip')
    df_temp.columns = cols
    df = df.append(df_temp, ignore_index=True)
    os.remove('data/test/temp.zip')

In [152]:
len(df)

16364657

In [154]:
df = df.dropna(axis=0, how='any')

In [155]:
len(df)

14718438

In [156]:
df['age'] = 2019 - df['birth year']
df['gender'] = df['gender'].apply({1:'Male', 2:'Female', 0:'Unknown'}.get)

/Users/kimberlyjharrison/anaconda3/envs/PythonUCI/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/kimberlyjharrison/anaconda3/envs/PythonUCI/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [158]:
df = df[df['age']<100]

In [159]:
len(df)

14711423

In [160]:
df['starttime'] = pd.to_datetime(df['starttime'])
df['stoptime'] = pd.to_datetime(df['stoptime'])
df.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                        float64
gender                             object
age                               float64
dtype: object

In [161]:
len(df)

14711423

In [1]:
df

NameError: name 'df' is not defined

In [162]:
df.to_csv('data/combined/data2017.csv', header=True, index=False)

In [3]:
df2 = pd.read_csv('data/combined/data2017.csv')

In [18]:
df2['start station id'].nunique()

811

In [19]:
df2.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,age
count,1.471142e+07,1.471142e+07,1.471142e+07,1.471142e+07,1.471142e+07,1.471142e+07,1.471142e+07,1.471142e+07,1.471142e+07,1.471142e+07
mean,8.948868e+02,1.336457e+03,4.073641e+01,-7.398449e+01,1.327534e+03,4.073617e+01,-7.398481e+01,2.385685e+04,1.978928e+03,4.007221e+01
std,1.547723e+04,1.340938e+03,7.188176e-02,1.201386e-01,1.338518e+03,4.834780e-02,7.164683e-02,5.338498e+03,1.170537e+01,1.170537e+01
min,6.100000e+01,7.200000e+01,0.000000e+00,-7.403423e+01,7.200000e+01,0.000000e+00,-7.406692e+01,1.452900e+04,1.920000e+03,1.800000e+01
25%,3.560000e+02,3.600000e+02,4.071894e+01,-7.399601e+01,3.590000e+02,4.071894e+01,-7.399662e+01,1.874000e+04,1.971000e+03,3.100000e+01
50%,5.810000e+02,4.850000e+02,4.073726e+01,-7.398752e+01,4.840000e+02,4.073705e+01,-7.398765e+01,2.555100e+04,1.982000e+03,3.700000e+01
75%,9.760000e+02,3.140000e+03,4.075510e+01,-7.397621e+01,3.137000e+03,4.075467e+01,-7.397634e+01,2.816200e+04,1.988000e+03,4.800000e+01
max,9.735948e+06,3.654000e+03,4.550636e+01,0.000000e+00,3.654000e+03,4.550636e+01,0.000000e+00,3.348100e+04,2.001000e+03,9.900000e+01