# Mission To Mars
K. Harrison <br>
14-MAY-2019 <br>
Note: comments added to scrape_mars.py app

In [1]:
# import dependencies
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time

## NASA Mars News Site

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

html = browser.html
soup = bs(html, 'html.parser')

In [3]:
news_title = soup.find('div', class_='content_title').text.strip()
news_p = soup.find('div', class_='rollover_description_inner').text.strip()

print(f"News Title: {news_title}")
print(f"News Teaser: {news_p}")

News Title: Why This Martian Full Moon Looks Like Candy
News Teaser: For the first time, NASA's Mars Odyssey orbiter has caught the Martian moon Phobos during a full moon phase. Each color in this new image represents a temperature range detected by Odyssey's infrared camera.

## JPL Mars Space Images - Featured Image

In [4]:
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

html = browser.html
soup2 = bs(html, 'html.parser')

In [5]:
browser.click_link_by_partial_text("FULL IMAGE")
time.sleep(2)
browser.click_link_by_partial_text('more info')

In [6]:
image_html = browser.html
soup3 = bs(image_html, 'html.parser')

In [7]:
image_url = soup3.find('figure', class_='lede')
image_url_back = image_url.a['href']

featured_image_url = f'https://www.jpl.nasa.gov/{image_url_back}'
print(featured_image_url)

https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA14317_hires.jpg

## Mars Weather

In [8]:
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

html = browser.html
soup4 = bs(html, 'html.parser')

In [9]:
tweet = soup4.find('div', class_='js-tweet-text-container').text.strip()
mars_weather = tweet[8:-27]
print(mars_weather)

sol 162 (2019-05-12) low -100.2ºC (-148.3ºF) high -20.3ºC (-4.5ºF)
winds from the SW at 4.5 m/s (10.1 mph) gusting to 14.3 m/s (32.0 mph)
pressure at 7.50 hP

## Mars Facts

In [18]:
facts_url = 'https://space-facts.com/mars/'

tables = pd.read_html(facts_url)

In [19]:
df = tables[0]
df.columns = ["Item", "Measurement"]
df.set_index('Item', inplace=True)
df.index.name=None
df

                                        Measurement
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [23]:
df_html = df.to_html(header=False)
print(df_html)

<table border="1" class="dataframe">
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

## Mars Hemispheres

In [24]:
hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemi_url)

html = browser.html
soup5 = bs(html, 'html.parser')

In [51]:
links = soup5.find_all('div', class_='item')

links_list = []

for i in links:
    links_list.append(i.h3.text)

In [64]:
hemisphere_image_urls = []
for i in links_list:
    image_dict={}
    try:
        browser.click_link_by_partial_text(i)
        time.sleep(1)
        image_dict['title'] = i
        
        html = browser.html
        soup6 = bs(html, 'html.parser')
        img_url = soup6.find('div', class_='downloads')
        
        image_dict['img_url'] = img_url.li.a['href']
        
        hemisphere_image_urls.append(image_dict)
        browser.back()
    except:
        break

In [67]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [ ]:
#End of Notebook